.Header {
    margin-bottom: 70px;
    a {
        height: auto;
        text-decoration: none;
        margin: 10px;
    }
    a:hover {
        text-decoration: none;
    }
    a:focus {
        outline: none;
    }

    .Logo {
        align-self: center;
    }
  }